@model Lombiq.Fields.ViewModels.MoneyFieldViewModel
@using Lombiq.Fields.Settings;

@{
    var settings = Model.Field.PartFieldDefinition.Settings.GetModel<MoneyFieldSettings>();
}

<fieldset>
    <div>
        <label for="@Html.FieldIdFor(m => m.Field)">@Model.Field.DisplayName</label>
    </div>
    <div>
        @Html.LabelFor(m => m.Amount, T("Amount:"))
        @Html.TextBoxFor(m => m.Amount, new { @class = "text medium" })
    </div>
    <div>
        @Html.LabelFor(m => m.CurrencyIso3LetterCode, T("Currency:"))
        @if (settings.IsCurrencyReadOnly)
        {
            @Html.Label(settings.DefaultCurrency, new { @class = "text medium" })
        }
        else
        {
            @Html.TextBoxFor(m => m.CurrencyIso3LetterCode, new { @class = "text medium" })
        }
    </div>
</fieldset>
