@model Lombiq.Fields.ViewModels.MoneyFieldViewModel
@using Lombiq.Fields.Constants;
@using Lombiq.Fields.Settings;

@{
    var settings = Model.Field.PartFieldDefinition.Settings.GetModel<MoneyFieldSettings>();
}

<fieldset>
    <legend>@Model.Field.DisplayName</legend>
    <div>
        @Html.LabelFor(m => m.Amount, T("Amount:"))
        @Html.TextBoxFor(m => m.Amount, new { @class = "text" })
        <span class="hint">@T("The amount of the money.")</span>
    </div>
    <div>
        @Html.LabelFor(m => m.CurrencyIso3LetterCode, T("Currency:"))
        @if (settings.IsCurrencyReadOnly)
            {
            @Html.Label(settings.DefaultCurrency, new { @class = "text small" })
        }
        else
        {
            @Html.DropDownListFor(m => m.CurrencyIso3LetterCode, MoneyFieldConstants.Currencys)
        }
        <span class="hint">@T("The currency of the money.")</span>
    </div>
</fieldset>