@model Lombiq.Fields.Settings.MediaLibraryUploadFieldSettings

<fieldset>
    <legend>@T("General field settings")</legend>
    <ol>
        <li>
            @Html.CheckBoxFor(m => Model.Required)
            @Html.LabelFor(m => Model.Required, @T("At least one media item is required").Text, new { @class = "forcheckbox" })
            @Html.Hint(T("Check to ensure that the user is providing at least one media item."))
        </li>
        <li>
            @Html.CheckBoxFor(m => Model.Multiple)
            @Html.LabelFor(m => Model.Multiple, @T("Allow multiple items to be uploaded").Text, new { @class = "forcheckbox" })
            @Html.Hint(T("Check to allow the user to upload multiple items."))
        </li>
        <li>
            @Html.LabelFor(m => Model.Hint, @T("Help text"))
            @Html.TextAreaFor(m => Model.Hint, new { @class = "text medium", rows = "5" })
            @Html.Hint(T("The help text is written under the field when an author is uploading a file."))
        </li>
        <li>
            @Html.LabelFor(m => Model.AllowedExtensions, @T("Allowed file extensions"))
            @Html.TextBoxFor(m => Model.AllowedExtensions, new { @class = "text medium" })
            @Html.Hint(T("A comma-separated list of the file extensions that are allowed to be uploaded. Leaving it empty will make the field to accept all file types."))
        </li>
        <li>
            @Html.LabelFor(m => Model.FolderPath, @T("Folder Path"))
            @Html.TextBoxFor(m => m.FolderPath, new { @class = "tokenized text medium" })
            @Html.Hint(T("Provide a path to a folder where the files will be uploaded. You can also use tokens. The default path is \"UserUploads/[user ID]\"."))
        </li>
        <li>
            @Html.LabelFor(m => Model.MaximumSizeKB, @T("Maximum file size"))
            @Html.TextBoxFor(m => Model.MaximumSizeKB)
            @Html.Hint(T("The maximum file size per uploaded file in kilobytes. 0 means no limit."))
        </li>
    </ol>
</fieldset>

@Display.TokenHint()

<fieldset>
    <legend>@T("Image-specific settings")</legend>
    <ol>
        <li>
            @Html.LabelFor(m => Model.ImageMaximumWidth, @T("Maximum width"))
            @Html.TextBoxFor(m => Model.ImageMaximumWidth)
            @Html.Hint(T("The maximum width for uploaded images in pixels. 0 means no limit."))
        </li>
        <li>
            @Html.LabelFor(m => Model.ImageMaximumHeight, @T("Maximum height"))
            @Html.TextBoxFor(m => Model.ImageMaximumHeight)
            @Html.Hint(T("The maximum height for uploaded images in pixels. 0 means no limit."))
        </li>
        <li>
            @Html.LabelFor(m => Model.MediaProfile, @T("Media Profile"))
            @Html.TextBoxFor(m => Model.MediaProfile)
            @Html.Hint(T("You can optionally specify the name of a Media Profile that will be applied to the images of this field when displaying them."))
        </li>
    </ol>
</fieldset>