@model Lombiq.Fields.Settings.MoneyFieldSettings
@using Lombiq.Fields.Helpers

<fieldset>
    <div>
        @Html.CheckBoxFor(m => m.IsCurrencyReadOnly)
        @Html.LabelFor(m => m.IsCurrencyReadOnly, @T("The currency is only readable").Text, new { @class = "forcheckbox" })
        <span class="hint">@T("Check to forbid the user to change the currency.")</span>
    </div>
</fieldset>
<fieldset>
    <div>
        @Html.LabelFor(m => m.DefaultCurrency, @T("Default currency:"))
        @Html.DropDownListFor(m => m.DefaultCurrency, CurrencyHelpers.GetCurrencySelectListItems, new { @class = "text medium" })
    </div>
</fieldset>