@model Lombiq.Fields.Settings.MoneyFieldSettings

<fieldset>
    <legend>@T("General field settings")</legend>
    <div>
        @Html.CheckBoxFor(m => Model.IsCurrencyReadOnly)
        @Html.LabelFor(m => Model.IsCurrencyReadOnly, @T("The currency is only readable").Text, new { @class = "forcheckbox" })
    </div>
    <div>
        @Html.LabelFor(m => Model.DefaultCurrency, @T("Currency"))
        @Html.TextAreaFor(m => Model.DefaultCurrency, new { @class = "text medium" })
    </div>
</fieldset>
